@import "css/home.css";
@import "css/login.css";
@import "css/compat.css";


.innoviant-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
