@import "css/home.css";
@import "css/login.css";
@import "css/compat.css";


.innoviant-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 4rem;
}



--------------- Authorize -----------------
.innoviant-wrapper .form-box {
    width: 100%;
    padding: 30px;
}

.form-box h2 {
  font-size: 2em;
  font-weight: 500;
  font-family: "Montserrat";
  color: #162938;
  text-align: center;
}

.button-forgot-pass {
    display: flex;
    align-items: center;
}

.button-forgot-pass button {
    background: none;
    border: none;

    cursor: pointer;
    transition: 0.3s ease-in;

    margin-bottom: 20px;
}

.button-forgot-pass button:hover {
    font-weight: bold;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #162938;
    margin: 30px 0;
  }

  .input-box input:focus~label,
  .input-box input:valid~label {
    top: -5px;
  }

  .input-box input:focus:not(:placeholder-shown) ~ label
     {
    font-size: 0.7em; /* Reduced size on focus */
    top: -10px; /* Adjust the position */
    color: #162938; /* Change the color if needed */
    }

  .input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 0.9em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
  }


  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
  }

  .input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.5em;
    color: #162938;
    line-height: 60px;
  }

  .btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
  }

.login-register {
font-size: .9em;
color: #162938;
text-align: center;
font-weight: 500;
margin: 25px 0 10px;
}
.login-register p {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
  }
