@import "css/circles.css";

.header-nav {
    position: absolute;
    margin-left: 82vw;
    margin-top: 2vw;

    display: flex;
}

.header-nav a {
    text-decoration: none;
    margin-right: 2vw;

    min-width: calc(1.5vw * 4);

    color: white;

    transition: font-weight 0.3s ease-in;
}

.header-nav a:hover {
    font-weight: bold;
    cursor: pointer;
}

.header-wrapper {
    height: 5rem;
    display: flex;
}

.header-title {
    font-size: 3vw;
    margin: 20px;
    font-weight: normal;
    text-decoration: none;

    transition: color 0.3s ease-in, font-weight 0.3s ease-in;
}

.header-title:hover {
    color: #0E6666;
    font-weight: bold;
}
